html {
	font: 13px/1.56 "Helvetica Neue", "Gill Sans", 'Lato', sans-serif, Helvetica, Arial;
}

p {
	color:#fff;
	font-size:14px;
	line-height:1.3;
}

h1 {
	font-weight:100;
	font-size:30px;
	padding-top:0;
	margin-top:0;
	color:white;
}

h2 {
	font-weight:100;
	font-size:18px;
	padding-top:0;
	margin-top:0;
	color:white;
}

#overview_box {
	padding:10px;
	padding-left:25px;
	padding-right:25px;
	-moz-box-shadow: 0 0 25px 5px #000000;
	-webkit-box-shadow: 0 0 25px 5px #000000;
	box-shadow: 0 0 25px 5px #000000;
	z-index:999;
	width:900px;
	height:540px;
	background-color:#000000;
	opacity:1;
	color:white;
	margin-left:auto;
	margin-right:auto;
	top:50%;
	margin-top:170px;
	border:0px solid #3b3b3b;
	background-image:url('../images/about_wall.jpg');
}

body {
	background-image:url('../images/sky5c.png');
	background-repeat:repeat;
	background-color:#000000;
}

#cosmos_logo_top {
	z-index:-1;
	position:absolute;
	width:348px;
	height:295px;
	left:50%;
	margin-left:-174px;
	top:40px;
}

#cosmos_logo_bottom {
	z-index:-1;
	position:absolute;
	width:348px;
	height:295px;
	left:50%;
	margin-left:-174px;
	top:430px;
	opacity:0.4;
}

a, a:hover, a:active, a:link, a:visited {
	text-decoration:underline;
	color:white;
}

#back {
	font-weight:600;
	position:relative;
	float:right;
	top:-65px;
	right:0px;
	padding-top:0;
	margin-top:0;
	font-size:36px;
}

#hawking {
	position:fixed;
	bottom:20px;
	left:-500px;
}