html {
	min-height: 100%;
	font: 13px/1.56 "Helvetica Neue", "Gill Sans", 'Lato', Helvetica, sans-serif, Arial;
}

html, body {
	margin:0; padding:0; overflow:hidden;
}

svg {
	position:fixed;
	top:80px;
	bottom:0;
	left:0;
	right:0;
	/*width:1800px;
	height:800px;*/
}

h1 {
	font-weight:100;
	font-size:40px;
	padding-top:0;
	margin-top:0;
	color:white;
	position:absolute;
	top:10px;
	left:20px;
	width:800px;
}

h2 {
	font-weight:normal;
	font-size:30px;
	padding-top:0;
	margin-top:0;
}

#current_date_top_right {
	position:fixed;
	right:49px;
	color:white;
	font-weight:200;
	font-size:26px;
	padding-top:0;
	margin-top:0;
	top:26px;
	text-align:center;
	width:180px;
}

#jump_to_date_link {
	position:fixed;
	right:69px;
	color:white;
	padding-top:2px;
	margin-top:5px;
	top:61px;
	font-size:7.5pt;
	text-align:center;
	width:140px;
	height:16px;
	border-top:0px solid #3e3e3e;
	z-index:99999999;
	border-radius:5px;
	/*border-bottom-right-radius:25px;
	border-bottom-left-radius:25px;*/
	background-color:#252525;
}

#current_date_top_left {
	fill:#cccccc;
	font-weight:200;
	padding-top:0;
	margin-top:0;
}

#prev_date {
	font-weight:600;
	position:fixed;
	right:240px;
	padding-top:0;
	margin-top:0;
	top:13px;
	font-size:36px;
	z-index:99999999;
}

#next_date {
	font-weight:600;
	position:fixed;
	right:20px;
	padding-top:0;
	margin-top:0;
	top:13px;
	font-size:36px;
	z-index:99999999;
	/*display:none; */ /* default will always be latest month (last month) */
}

#prev_date a,
#next_date a {
	color:#dbdbdb;
}

#slider-vertical {
	height:200px;
	width:2px;
	position:fixed;
	right:35px;
	color:white;
	padding-top:5px;
	margin-top:-120px;
	top:50%;
	border:2px solid #3b3b3b;
	background-color:#3b3b3b;
	z-index:99999999;
}

#slider-vertical_zoomin {
	border:1px solid #4b4b4b;
	border-radius:50%;
	background-color:#4b4b4b;
	height:15px;
	width:15px;
	position:fixed;
	right:1.62em;
	color:white;
	padding-top:0;
	margin-top:-145px;
	top:50%;
	font-size:14pt;
	z-index:99999999;
	cursor:pointer;
}

#slider-vertical_zoomout {
	border:1px solid #4b4b4b;
	border-radius:50%;
	background-color:#4b4b4b;
	height:15px;
	width:15px;
	position:fixed;
	right:1.23em;
	color:white;
	padding-top:5px;
	padding-top:0;
	margin-top:95px;
	top:50%;
	font-size:18pt;
	z-index:99999999;
	cursor:pointer;
}

#slider-vertical_zoomout span {
	position:relative;
	top:-13px;
	left:3px;
}

#slider-vertical_zoomin span {
	position:relative;
	top:-.44em;
	left:0.1em;
}

#credit {
	position:fixed;
	bottom:0px;
	left:0px;
	padding-bottom:2px;
	padding-left:6px;
	color:white;
	font-weight:200;
	font-size:9.5pt;
	width:100%;
	background-color:#000;
	height:50px;
	border-top:1px dotted #464646;
	z-index:99999999;
}

body {
	background-image:url('../images/sky5_well_do_it_live.png');
	background-repeat:repeat;
	background-color:#000000;
}

#plane_container {
	background-image:url('../images/sky5_well_do_it_live.png');
	background-repeat:repeat;
	width:1800px;
	height:800px;
	left:10;
	top:10;
}

.plane {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	opacity:0;
}

.trace {
	border: dotted 3px #333;
}

.orbit, .trace {
	left: 50%;
	top: 50%;
	position: absolute;
}

.planet {
	z-index:9999999;
}

.planet text {
	font-family:"Gill Sans", "Helvetica Neue", 'Lato', Helvetica, sans-serif, Arial;
	font-weight:200;
	fill:white;
	font-size:18px;
	color:#fff;
	text-transform: capitalize;
}

#ie_planet text {
	text-transform: uppercase;
}

.moon {
	fill:#e7e5e5;
}

.market text {
	display:none;
	fill:white;
	font-weight:bold;
}

.top_market text {
	display:none;
	fill:red;
	font-weight:bold;
}

.orbit_path {
	fill:none;
}

#play_pause_icon {
	position:relative;
	top:4px;
	padding-left:8px;
}

path {
	stroke:white;
	stroke-width:1;
	opacity:0.3;
}

#summary_chart {
	z-index:99999;
	border:0px solid white;
	width:250px;
	height:150px;
	position:absolute;
	top:0px;
	left:30px;
}

#summary_chart .bar {	
	fill:#e7e5e5;
	stroke-width:1;
	shape-rendering:crispEdges;
	stroke:black;
}

#summary_chart .bar_top {
	fill:red;
	stroke-width:1;
	shape-rendering:crispEdges;
	stroke:black;
}

.tiny {
	font-size:7.5pt;
	text-rendering:crispEdges;
}

a, a:hover, a:active, a:link, a:visited {
	text-decoration:none;
	color:white;
}

#socialmedia {
	position:fixed;
	bottom:17px;
	right:0px;
	width:190px;
	overflow:hidden;
}

#content {
	height:100%;
	width:500px;
	position:fixed;
	left:0;
	top:-113px;
	z-index:9999999999 !important;
	background-color:black;
	filter:alpha(opacity=90); /* internet explorer */
	-khtml-opacity:0.90;      /* khtml,old safari */
	-moz-opacity:0.90;       /* mozilla,netscape */
	opacity:0.9;           /* fx,safari,opera */
	display:none;
	color:white;
	font-size:13pt;
	padding:30px;

}

#dim {
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:9999999999 !important;
	background-color:black;
	filter:alpha(opacity=80); /* internet explorer */
	-khtml-opacity:0.80;      /* khtml,old safari */
	-moz-opacity:0.80;       /* mozilla,netscape */
	opacity:0.8;           /* fx,safari,opera */
	display:none;
}

.gradient {
	position:fixed;
	bottom:0px;
	width:100%;
	height:103px;
	z-index:9999999999999999999999999 !important;
}

#modal_box, #modal_box2 {
	padding:30px;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-230px;
	margin-left:-580px;
	z-index:9999999999;
	/*background-color:#fff;*/
	width:1100px;
	height:320px;
	display:none;
	color:white;
	font-size:16px;
	font-weight:200;
	/*background-image:url(../images/bg-sand2.png);*/
}

#arbitrary_msg_box {
	padding:30px;
	padding-top:7px;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-300px;
	z-index:999999999;
	background-color:#3b3b3b;
	width:520px;
	height:20px;
	border-radius:40px;
	color:white;
	font-size:14px;
	font-weight:200;
	text-align:center;
	opacity:0.7;
	display:none;
}

#modal_box #date_field,
#modal_box2 #country {
	width:1300px;
	height:200px;
	font-size:130px;
	font-weight:200;
	background-color:transparent;
	outline:none;
	border:0;
	color:white;
}

#modal_box2 #country {
	font-size:100px;
	height:120px;
}

#error {
	color:#cccccc;
	font-style:italic;
}

#content {
	font-size:14px;
}

.x {
	color:white;
	text-decoration:none;
	position:absolute;
	top:125px;
	left:538px;
	font-size:20px;
	font-weight:bold;
}

#credit .middle_pane {
	padding-left:230px;
	margin-left:auto;
	margin-right:auto;
	width:550px;
	text-align:center;
	padding-top:6px;
}

#country {
	background-color:transparent;
	color:white;
	outline:none;
	z-index:999999;
	height:120px;
}

.planets_path {
	fill:none;
	stroke:white;
	stroke-width:1;
	opacity:1;
}

#mozlogo {
	width:72px;
	height:17px;
	padding:0;
	margin:0;
	position:fixed;
	bottom:26px;
	left:0;
	border:0;
}

